@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
.primary-gradient {
  position: relative;
}

.primary-gradient::after {
  content: "";
  width: 100%;
  position: absolute;
  transition: all 300ms;
  bottom: 0;
  left: 0;
  height: 2px;
  transform-origin: center;
  transform: scaleX(0);
  background-color: #468590;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}

.no-color {
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
}

.primary-gradient:hover::after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}
